<p id="notice"><%= notice %></p>

<h2>Notificacion</h2>

<table>
  <thead>
    <tr>
      <th>Entidad notificada</th>
      <th>Elemento notificado</th>
      <th>Estado notificacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.entidad_notificada %></td>
        <td><%= notification.elemento_notificado %></td>
        <td><%= notification.estado_notificacion %></td>
        <td><%= link_to 'Show', notification %></td>
        <td><%= link_to 'Edit', edit_notification_path(notification) %></td>
        <td><%= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Notificacion', new_notification_path %>
