<p id="notice"><%= notice %></p>

<p>
  <strong>Entidad notificada:</strong>
  <%= @notification.entidad_notificada %>
</p>

<p>
  <strong>Elemento notificado:</strong>
  <%= @notification.elemento_notificado %>
</p>

<p>
  <strong>Estado notificacion:</strong>
  <%= @notification.estado_notificacion %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
