<p id="notice"><%= notice %></p>

<h2>Denuncia</h2>

<table>
  <thead>
    <tr>
      <th>Descripcion denuncia</th>
      <th>Tipo denuncia</th>
      <th>Direccion denuncia</th>
      <th>Envio notificacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.descripcion_denuncia %></td>
        <td><%= report.tipo_denuncia %></td>
        <td><%= report.direccion_denuncia %></td>
        <td><%= report.envio_notificacion %></td>
        <td><%= link_to 'Mostar', report %></td>
        <td><%= link_to 'Modificar', edit_report_path(report) %></td>
        <td><%= link_to 'Eliminar', report, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Denuncia', new_report_path %>
